/*botão*/
.button {
  border: none !important;
  color: white !important;
  padding: 10px 15px !important;
  text-align: center !important;
  text-decoration: auto !important;
  display: inline-block !important;
  font-size: 16px !important;
  margin: 5px 2px !important;
  cursor: pointer !important;
  transition-duration: 0.4s !important;
  border-radius: 4px !important;
}

.button-limpar:hover {
background-color: #FF6961 !important;
color: white !important;
}

.button-limpar {
background-color: white !important;
color: #FF6961 !important;
border: 2px solid #FF6961 !important;
margin-bottom: 1% !important;
}

.button-fechar {
background-color: #438759;
}
/*botão*/


/*tabela*/
table {
    border: 1px solid #ccc !important;
    border-collapse: collapse !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    table-layout: fixed !important;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    vertical-align: center !important;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }


/* tabela*/