<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Titulo do modal -->
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Escolha sua senha</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Corpo do modal -->
        <div class="modal-body">
          <form method="POST" name="form_senha" class="form"">
       
        <!-- SENHA ANTIGA  -->
          <div class="form-group">
                <label for="validationCustom06">Senha antiga</label>
                <input type="password" name="senha_antiga" class="form-control" id="validationCustom06" placeholder="Insira a senha antiga" maxlength="200">
                <div class="invalid-feedback">
                    Insira a senha antiga.
                </div>
        </div>
        <!-- /END SENHA ANTIGA -->
        <!-- SENHA NOVA  -->
        <div class="form-group">
            <label for="validationCustom07">Nova senha</label>
            <input type="password" name="senha_nova" class="form-control" id="validationCustom07" placeholder="Insira a nova senha" maxlength="200">
            <div class="invalid-feedback">
                Insira a nova senha.
            </div>
        </div>
    <!-- /END SENHA NOVA -->
    <!-- CONFIRMAÇÃO SENHA NOVA  -->
            <div class="form-group">
                <label for="validationCustom08">Confirmar nova senha</label>
                <input type="password" name="senha_nova_confirma" class="form-control" id="validationCustom08" placeholder="Insira a confirmação da nova senha" maxlength="200">
                <div class="invalid-feedback">
                    Confirme a nova senha.
                </div>
            </div>
        <!-- /END CONFIRMAÇÃO SENHA NOVA -->
        </div>
        <!-- Footer do modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" name="atualizar_senha" class="btn btn-primary">Atualizar senha</button>
        </div>
        </form>
      </div>
    </div>
  </div>