{% include 'head.html'%}

<form class="forms needs-validation" [formGroup]="form" (ngSubmit)="submit()" novalidate>

    <!-- TÍTULO FORM -->
    <h5 class="form-title">1. Dados de cadastro</h5>
    <!-- /END TÍTULO FORM -->

    <!-- CPF -->
    <div class="form-group">
        <input
            type="text"
            id="Cpf"
            placeholder="*Qual é o seu CPF?"
            autocomplete="on"
            aria-required="true"
            mask="000.000.000-00"
            class="form-control"
            [class.is-invalid]="form.get('cpf').touched"
            >
        <label for="Cpf">*CPF</label>

        <!-- Ver a respeito do error block -->
        <!-- /Ver a respeito do error block -->

    </div>
    <!-- /END CPF -->

    <!-- NOME COMPLETO -->
    <div class="form-group">
        <input
            type="text"
            id="Nome"
            placeholder="*Qual é o seu nome completo?"
            autocomplete="on"
            maxlength="255"
            aria-required="true"
            class="form-control"
            [class.is-invalid]="form.get('nome').touched"
            >
        <label for="Nome">*Nome Completo</label>

        <!-- Ver a respeito do error block -->
        <!-- /Ver a respeito do error block -->

    </div>
    <!-- /END NOME COMPLETO -->

    <!-- DATA DE NASCIMENTO -->
    <div class="form-group-inline">

        <div class="form-group">
            <input
                type="text"
                id="Dia"
                placeholder="*Qual sua data de nascimento?"
                maxlength="10"
                aria-required="true"
                mask="d0/M0/0000"
                [leadZeroDateTime]="true"
                [class.is-invalid]="form.get('nascimento').touched"
                class="form-control"
                >
            <label for="Dia">*Data de Nascimento</label>

            <!-- Ver a respeito do error block -->
            <!-- /Ver a respeito do error block -->

        </div>
    </div>
    <!-- /END DATA DE NASCIMENTO -->

    <!-- CELULAR -->
    <div class="form-group-inline">

        <div class="form-group">
            <input
                type="text"
                id="Celular"
                class="form-control"
                placeholder="E o seu celular com DDD?"
                mask="(00) 00000-0000"
                [class.is-invalid]="form.get('telefone2').touched"
            >
            <label for="Celular">(DDD) Celular</label>

            <!-- Ver a respeito do error block -->
            <!-- /Ver a respeito do error block -->

        </div>

    </div>
    <!-- /END CELULAR -->

    <!-- E-MAIL -->
    <div class="form-group-inline">

        <div class="form-group">
            <input
                type="email"
                id="Email"
                placeholder="*Qual o seu melhor e-mail?"
                maxlength="250"
                aria-required="true"
                class="form-control"
                [class.is-invalid]="form.get('email').touched"
                >
            <label for="Email">*E-mail</label>

            <!-- Ver a respeito do error block -->
            <!-- /Ver a respeito do error block -->

        </div>
    </div>
    <!-- /END E-MAIL -->

    <!-- CEP -->
    <div class="form-group">
        <input
            type="text"
            id="Cep"
            placeholder="*Qual o CEP do seu endereço?"
            aria-required="true"
            mask="00000-000"
            class="form-control"
            [class.is-invalid]="form.get('cep').touched"
            >
        <label for="Cep">*CEP</label>

        <!-- Ver a respeito do error block -->
        <!-- /Ver a respeito do error block -->
    </div>
    <!-- /END CEP -->

    <!-- ENDEREÇO -->
    <div class="form-group">
        <input
            type="text"
            id="Endereco"
            placeholder="*Endereço"
            maxlength="255"
            aria-required="true"
            class="form-control"
            [class.is-invalid]="form.get('endereco').touched"
            >
        <label for="Endereco">*Endereço</label>
        <div class="icon-container" *ngIf="showCEP">
            <i class="loader"></i>
        </div>

        <!-- Ver a respeito do error block -->
        <!-- /Ver a respeito do error block -->
    </div>
    <!-- /END ENDEREÇO -->


    <div class="form-group-inline">

        <!-- NÚMERO -->
        <div class="form-group">
            <input
                type="text"
                id="Numero"
                name="Numero"
                placeholder="*Número"
                maxlength="50"
                aria-required="true"
                required
                class="form-control"
                [class.is-invalid]="form.get('numero').touched">
            <label for="Numero">Número</label>

            <!-- Ver a respeito do error block -->
            <!-- /Ver a respeito do error block -->

        </div>
        <!-- /END NÚMERO -->

        <!-- COMPLEMENTO -->
        <div class="form-group">
            <input
                type="text"
                id="Complemento"
                name="Complemento"
                class="form-control"
                placeholder="Complemento"
                maxlength="50"
            >
            <label for="Complemento">Complemento</label>
            <div class="invalid-feedback">Mensagem de erro do campo</div>
        </div>
        <!-- /END COMPLEMENTO -->
    </div>

    <!-- SENHA -->
    <div class="form-group">
        <input
            type="password"
            id="Senha"
            placeholder="*Senha"
            maxlength="20"
            minlength="6"
            aria-required="true"
            required
            class="form-control"
            [class.is-invalid]="form.get('senha').touched"
        >
        <label for="Senha">*Senha</label>

            <!-- Ver a respeito do error block -->
            <!-- /Ver a respeito do error block -->
    </div>
    <!-- /END SENHA -->

    <!-- SENHA CONFIRMAÇÃO -->
    <div class="form-group">
        <input
            type="password"
            id="ConfirmeSenha"
            placeholder="*Confirme a sua senha"
            maxlength="20"
            minlength="6"
            required
            aria-required="true"
            class="form-control"
            [class.is-invalid]="form.get('passwordRetype').touched"
        >
        <label for="SenhaConfirm">*Confirme a sua senha</label>

        <!-- Ver a respeito do error block -->
        <!-- /Ver a respeito do error block -->
    </div>
    <!-- /END SENHA CONFIRMAÇÃO -->

    <!-- BOTÃO FINALIZAR -->
    <div class="form-group">
        <button type="submit"
            id="Finalizar"
            name="Finalizar"
            class="btn btn-primary btn-block form-btn"
        >
            <span>login</span>
        </button>
    </div>
    <!-- /END BOTÃO FINALIZAR -->

</form>

{% include 'footer.html'%}