{% include 'head.html'%}
{% if 'SALARIO'  in session %}

<div class="form-group d-flex justify-content-center">
    <img src="/static/images/BANNER_BRANCO_DIMANI.PNG" alt="Fuzzy Cardigan" class="img-fluid" style="max-width: 500px; width:100%;">
</div>
<div class="container">
    <form class="forms needs-validation" id="cadastro-funcionario" method="POST" novalidate>

        <!-- TÍTULO FORM -->
        <h2 class="form-title text-center">Dados de Cadastro</h2>
        <h4 class="form-title text-danger text-center" > {{mensagem}} </h4>
        <!-- /END TÍTULO FORM -->

        <!-- CPF -->
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label for="validationCustom01">CPF</label>
                <input type="text" name="cpf" class="form-control" id="validationCustom01" placeholder="Insira seu CPF" maxlength="11" pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})" required>
                <div class="invalid-feedback">
                    Insira um CPF válido.
                </div>
            </div>
        </div>
        <!-- /END CPF -->

        <!-- NOME COMPLETO -->
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label for="validationCustom01">Nome Completo</label>
                <input type="text" name="nome_completo" class="form-control" id="validationCustom01" placeholder="Insira seu nome completo" maxlength="200" required>
                <div class="invalid-feedback">
                    Insira seu nome completo.
                </div>
            </div>
        </div>
        <!-- /END NOME COMPLETO -->

        <!--  SALARIO -->
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="validationCustom01">Salário</label>
                <input type="number" name="salario" class="form-control" id="validationCustom01" placeholder="Insira o salário do funcionário ex: 500,00" min="1" step="any" required>
                <div class="invalid-feedback">
                    Insira o salário do funcionário.
                </div>
            </div>
        </div>
        <!-- /END SALARIO -->

        <!-- CELULAR -->
        <div class="form-group-inline">
            <div class="col-md-6 offset-md-3">
                <label for="validationCustom01">Telefone</label>
                <input type="text" name="telefone" class="form-control" id="validationCustom01" placeholder="Insira seu telefone" maxlength="13" required>
                <div class="invalid-feedback">
                    Insira um número de telefone válido.
                </div>
            </div>
        </div>
        <!-- /END CELULAR -->

        <!-- E-MAIL -->
        <div class="col-md-6 offset-md-3">
            <label for="validationCustom01">E-mail</label>
            <input type="email" name="email" class="form-control" id="validationCustom01" placeholder="Endereço de e-mail" maxlength="100" required>
            
            <div class="invalid-feedback">
                Insira um endereço de e-mail válido.
            </div>
        </div>
        <!-- /END E-MAIL -->

        <!-- SENHA -->
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label for="validationCustom02">Senha</label>
                <input type="password" id="password1" name="senha" class="form-control" id="validationCustom02" placeholder="Insira a senha" required name=up>
                <div class="invalid-feedback">
                    Digite uma senha.
                </div>
            </div>
        </div>
        <!-- /END SENHA -->

        <!-- SENHA CONFIRMAÇÃO -->
        <div class="form-group" >
            <div class="col-md-6 offset-md-3">
                <label for="validationCustom02">Confirmação de Senha</label>
                <input style="margin-bottom: 2%;"type="password" id="password2" name="confirmacao_senha" class="form-control" id="validationCustom02" placeholder="Insira novamente a senha" required name=up2>
                <div class="invalid-feedback">
                    As senhas não correspondem.
                </div>
            </div>
        </div>
        <!-- /END SENHA CONFIRMAÇÃO -->
        <!-- CPF -->
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label for="validationCustom01">CPF Supervisor</label>
                <input type="text" name="cpf_supervisor" class="form-control" id="validationCustom01" placeholder="Insira o CPF de um supervisor, caso seja um supervisor insira seu CPF" placeholder="Insira seu CPF" maxlength="11" pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})" required>
                <div class="invalid-feedback">
                    Insira o CPF de um supervisor, caso seja um supervisor insira seu CPF.
                </div>
            </div>
        </div>
        <!-- /END CPF -->
        <!-- BOTÃO PROSSEGUIR -->
        <div class="form-group">
            <div class="col-md-6 offset-md-3" style="margin-top: 2rem;">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Prosseguir</button>
            </div>
        </div>
        <!-- /END BOTÃO PROSSEGUOR -->
    </form>
</div>

<script>
    // Exemplo de JavaScript inicial para desativar envios de formulário, se houver campos inválidos.
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Pega todos os formulários que nós queremos aplicar estilos de validação Bootstrap personalizados.
            var forms = document.getElementsByClassName('needs-validation');
            // Faz um loop neles e evita o envio
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();

                    }
                    
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
//Verificações durante o submit do formulário de cadastro do funcionario
$("#cadastro-funcionario").submit(function(event){
        senha1 = document.getElementById("password1")
	    senha2 = document.getElementById("password2")
        // verifica se as duas senhas são iguais
        if (senha1.value != senha2.value){
            senha2.classList.add('is-invalid')
            event.preventDefault();
        }
      });


</script>

{% else %}
    <p>Área restrita a funcionarios</p>
{% endif %}


{% include 'footer.html'%}