{% include 'head.html'%}


<div class="form-group d-flex justify-content-center">
    <img src="/static/images/BANNER_BRANCO_DIMANI.PNG" width="500px" alt="Fuzzy Cardigan">
</div>

<form class="forms needs-validation" novalidate>

    <!-- TÍTULO FORM -->
    <h5 class="form-title">Dados de cadastro</h5>
    <!-- /END TÍTULO FORM -->

    <!-- CPF -->
    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <label for="validationCustom01">CPF</label>
            <input type="email" class="form-control" id="validationCustom01" placeholder="Insira seu CPF"  required>
            <div class="invalid-feedback">
              Insira um CPF válido.
            </div>
        </div>
    </div>
    <!-- /END CPF -->

    <!-- NOME COMPLETO -->
    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <label for="validationCustom01">Nome Completo</label>
            <input type="email" class="form-control" id="validationCustom01" placeholder="Insira seu Nome Completo"  required>
            <div class="invalid-feedback">
              Insira seu nome completo.
            </div>
        </div>
    </div>
    <!-- /END NOME COMPLETO -->

    <!-- DATA DE NASCIMENTO -->
    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <label for="validationCustom01">Data de Nascimento</label>
            <input type="date" class="form-control" id="validationCustom01" placeholder="Sua data de nascimento"  required>
            <div class="invalid-feedback">
              Insira uma data válida.
            </div>
        </div>
    </div>
    <!-- /END DATA DE NASCIMENTO -->

    <!-- CELULAR -->
    <div class="form-group-inline">
        <div class="col-md-6 offset-md-3">
            <label for="validationCustom01">Celular</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Insira seu celular"  required>
            <div class="invalid-feedback">
              Insira um número de celular válido.
            </div>
          </div>
    </div>
    <!-- /END CELULAR -->

    <!-- E-MAIL -->
    <div class="col-md-6 offset-md-3">
        <label for="validationCustom01">E-mail</label>
        <input type="email" class="form-control" id="validationCustom01" placeholder="Endereço de e-mail"  required>
        <div class="invalid-feedback">
          Insira um endereço de e-mail válido.
        </div>
    </div>
    <!-- /END E-MAIL -->

    <!-- CEP -->
    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <label for="validationCustom01">CEP</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="CEP"  required>
            <div class="invalid-feedback">
              Insira um CEP válido.
            </div>
        </div>
    </div>
    <!-- /END CEP -->

    <!-- ENDEREÇO -->
    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <label for="validationCustom01">Endereço</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Endereço"  required>
            <div class="invalid-feedback">
              Insira um endereço válido.
            </div>
        </div>
    </div>
    <!-- /END ENDEREÇO -->

    <!-- NÚMERO -->
    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <label for="validationCustom01">Número</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Número"  required>
            <div class="invalid-feedback">
              Insira um Número válido.
            </div>
        </div>
    </div>
    <!-- /END NÚMERO -->

    <!-- COMPLEMENTO -->
    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <label for="validationCustom01">Complemento</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Complemento de endereço">
        </div>
    </div>
    <!-- /END COMPLEMENTO -->

    <!-- SENHA -->
    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <label for="validationCustom02">Senha</label>
            <input type="password" class="form-control" id="validationCustom02" placeholder="Insira a senha" required>
              <div class="invalid-feedback">
                Digite uma senha.
              </div>
        </div>
    </div>
    <!-- /END SENHA -->

    <!-- SENHA CONFIRMAÇÃO -->
    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <label for="validationCustom02">Confirmação senha</label>
            <input type="password" class="form-control" id="validationCustom02" placeholder="Insira novamente a senha" required>
              <div class="invalid-feedback">
                As senhas não correspondem.
              </div>
        </div>
    </div>
    <!-- /END SENHA CONFIRMAÇÃO -->

    <!-- BOTÃO FINALIZAR -->
    <div class="form-group">
        <div class="col-md-6 offset-md-3" style="margin-top: 2rem;">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Finalizar cadastro</button>
        </div>
    </div>
    <!-- /END BOTÃO FINALIZAR -->
</form>

{% include 'footer.html'%}