{% include 'head.html'%}

<div class="container" style="margin-top:1%">
<table class="table border">
	<!-- CABEÇALHO DA TABELA -->
  <thead>
    <tr>
      <th scope="col">Nº PRODUTO</th>
      <th scope="col">NOME_PRODUTO</th>
      <th scope="col">DESCRICAO</th>
      <th scope="col">QTD_PRODUTO</th>
      <th scope="col">VALOR UNITÁRIO</th>
      <th scope="col">VALOR TOTAL</th>
      <th scope="col">ID CONTA</th>
    </tr>
  </thead>

  <tbody>

  	<!-- LOOP PARA ACESSAR PEDIDO -->
  	{% for produto in detalhes_produto %}
    <tr>
      <th scope="row"><a href="{{produto['ID_PRODUTO']}}">{{produto['ID_PRODUTO']}}</a></th>
      <td>{{produto['NOME_PRODUTO']}}</td>
      <td>{{produto['DESCRICAO']}}</td>
      <td>{{produto['QTD_PRODUTO']}}</td>
      <td>{{produto['PRECO']}}</td>
      <td>{{produto['VALOR_TOTAL']}}</td>
	 <td>{{produto['ID_CONTA']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% include 'footer.html'%}