{% include 'head.html'%}

<div class="row">
{% for produto in catalogo %}

    <div class="col-sm-3">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="static/images/carousel1.JPG" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{produto['NOME_PRODUTO']}}</h5>
        <p class="card-text" >{{produto['VALOR']}}</p>
        <a class="btn btn-primary" href="detalhes_produto/{{produto['ID_PRODUTO']}}"  role="button">COMPRAR</a>
        </div>
    </div>
    </div>

{% endfor %}
</div>


{% include 'footer.html'%}
