{% include 'head.html'%}

<style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 290px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 20px;
}

.price {
  color: grey;
  font-size: 20px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #438759;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
{%if 'EMAIL' in session %}
  {% if eh_funcionario(session['EMAIL'])%}
<div class="container content-left" style="margin-bottom: 1%;"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">+ INCLUIR PRODUTO</button></div>


{% include 'incluir_produto.html'%}
<div class="row">
{% for produto in catalogo %}

    <div class="card">
        <img src="static/images/produtos/produto_{{produto['ID_PRODUTO']}}.jpg" alt="Card image cap" style="width:100%">
        <h2>{{produto['NOME_PRODUTO']}}</h2>
        <p name="valor_produto_real" class="price">{{produto['VALOR']}}</p>
        <p>{{produto['DESCRICAO']}}</p>
        
        <a href="detalhes_produto/{{produto['ID_PRODUTO']}}">
            <button>COMPRAR</button>
        </a>
        <a href="#">
          <button>EDITAR</button>
      </a>
    </div>



{% endfor %}
</div>
{% else%}
<div class="row">
  {% for produto in catalogo %}
  
      <div class="card">
          <img src="static/images/produtos/produto_{{produto['ID_PRODUTO']}}.jpg" alt="Card image cap" style="width:100%">
          <h2>{{produto['NOME_PRODUTO']}}</h2>
          <p name="valor_produto_real" class="price">{{produto['VALOR']}}</p>
          <p>{{produto['DESCRICAO']}}</p>
          
          <a href="detalhes_produto/{{produto['ID_PRODUTO']}}">
              <button>COMPRAR</button>
          </a>
      </div>
  
  
  
  {% endfor %}
  </div>
  {% endif%}
  {% else %}
  <div class="row">
    {% for produto in catalogo %}
    
        <div class="card">
            <img src="static/images/produtos/produto_{{produto['ID_PRODUTO']}}.jpg" alt="Card image cap" style="width:100%">
            <h2>{{produto['NOME_PRODUTO']}}</h2>
            <p name="valor_produto_real" class="price">{{produto['VALOR']}}</p>
            <p>{{produto['DESCRICAO']}}</p>
            
            <a href="detalhes_produto/{{produto['ID_PRODUTO']}}">
                <button>COMPRAR</button>
            </a>
        </div>
    
    
    
    {% endfor %}
    </div>
{% endif%}

{% include 'footer.html'%}