{% include 'head.html'%}


  <div class="col-md-6 offset-md-3" style="max-width: 900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/images/CAMISA_MANGALONGA.JPG" class="img-fluid rounded-start" alt="Img">
      </div>
        <div class="col-md-8">
          <div class="card-body">
            <input type="hidden" id="id_produto" name="id_produto" value="{{detalhes_produto['ID_PRODUTO']}}">
            <h5 class="card-title"  id="nome_produto">{{detalhes_produto['NOME_PRODUTO']}}</h5>
            <p class="card-text" id="valor_produto">{{detalhes_produto['VALOR']}}</p>
            <p class="card-text" id="descricao_produto">{{detalhes_produto['DESCRICAO']}}</small></p>
            <a class="btn btn-primary" role="button" data-toggle="modal" data-target="#modalExemplo">ADICIONAR AO CARRINHO</a>
            <input type="number" class="form-control" placeholder="Quantidade"name="Quantidade" required>
          </div>
        </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Continuar comprando?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Adicionar ao Carrinho e continuar comprando ou ir até o carrinho.
      </div>
      <div class="modal-footer">
      	<a href='/catalogo'>
        		<button type="button" class="btn btn-secondary" onclick="adiciona_carrinho()" >Continuar comprando</button>
    	</a>
        <a href='/carrinho'>
        		<button type="button" class="btn btn-primary" onclick="adiciona_carrinho()">Ir até o carrinho</button>
      	</a>
      </div>
    </div>
  </div>
</div>


{% include 'footer.html'%}