{% include 'head.html'%}

<div class="container" style="margin-top:1%">

{% if 'ID_CONTA' in session %}
  {% if session['ID_CONTA'] == id_cliente %}
    <table class="table border">
      <!-- CABEÇALHO DA TABELA -->
      <thead>
        <tr>
          <th scope="col">Nº PEDIDO</th>
          <th scope="col">NOME_PRODUTO</th>
          <th scope="col">DESCRICAO</th>
          <th scope="col">QTD_PRODUTO</th>
          <th scope="col">VALOR UNITÁRIO</th>
          <th scope="col">VALOR TOTAL PRODUTO</th>
          <th scope="col">ID CONTA</th>
          <th scope="col">OBSERVACOES</th>
        </tr>
      </thead>

      <tbody>

        <!-- LOOP PARA ACESSAR PEDIDO -->
        {% for pedido in detalhes_pedido %}
        <tr>
          <td scope="row"  data-label="ID PEDIDO"><strong><a href="{{pedido['ID_PEDIDO']}}">{{pedido['ID_PEDIDO']}}</a></strong></td>
          <td data-label="NOME PRODUTO">{{pedido['NOME_PRODUTO']}}</td>
          <td data-label="DESCRIÇÃO">{{pedido['DESCRICAO']}}</td>
          <td data-label="QUANTIDADE PRODUTO">{{pedido['QTD_PRODUTO']}}</td>
          <td data-label="PREÇO" name="valor_produto_real">{{pedido['PRECO']}}</td>
          <td data-label="VALOR TOTAL PRODUTO" name="valor_produto_real">{{pedido['PRECO'] * pedido['QTD_PRODUTO']}}</td>
          <td data-label="ID CONTA">{{pedido['ID_CONTA']}}</td>
          <td id="observacao" data-label="OBSERVAÇÃO">{{pedido['OBSERVACAO']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <span> Você não está logado ou o pedido não está registrado em sua conta.</span>
    {% endif %}

    {% elif 'SALARIO' in session %}
    <table class="table border">
      <!-- CABEÇALHO DA TABELA -->
      <thead>
        <tr>
          <th scope="col">Nº PEDIDO</th>
          <th scope="col">NOME_PRODUTO</th>
          <th scope="col">DESCRICAO</th>
          <th scope="col">QTD_PRODUTO</th>
          <th scope="col">VALOR UNITÁRIO</th>
          <th scope="col">VALOR TOTAL PRODUTO</th>
          <th scope="col">ID CONTA</th>
          <th scope="col">OBSERVACOES</th>
        </tr>
      </thead>

      <tbody>
        
        <!-- LOOP PARA ACESSAR PEDIDO -->
        {% for pedido in detalhes_pedido %}
        <tr>
          <th scope="row"><a href="{{pedido['ID_PEDIDO']}}">{{pedido['ID_PEDIDO']}}</a></th>
          <td>{{pedido['NOME_PRODUTO']}}</td>
          <td>{{pedido['DESCRICAO']}}</td>
          <td>{{pedido['QTD_PRODUTO']}}</td>
          <td name="valor_produto_real">{{pedido['PRECO']}}</td>
          <td name="valor_produto_real">{{pedido['PRECO'] * pedido['QTD_PRODUTO']}}</td>
          <td>{{pedido['ID_CONTA']}}</td>
          <td id="observacao">{{pedido['OBSERVACAO']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

</div>
{% include 'footer.html'%}
<script type="text/javascript" charset="utf-8" async defer>
document.getElementById("observacao").innerHTML = maiorQue(document.getElementById("observacao").innerHTML,10);


</script>