
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ALTERAR STATUS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" class="needs-validation forms" id="form_comprovante" name="form_comprovante" class="form" enctype="multipart/form-data">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nº PEDIDO:</label>
              <input type="text" class="form-control" name="id_pedido"  id="recipient-name" readonly>
            </div>
            <div class="form-group">
                <label for="message-text" class="col-form-label">Observações:</label>
                <textarea class="form-control" id="message-text" name="observacoes_comprovante" required></textarea>
              </div>
            <div class="invalid-feedback">
              Insira observações.
            </div>
            <!--  ANEXO COMPROVANTE -->
            <div class="form-group">
                <label for="exampleFormControlFile1">Insira o comprovante de pagamento.</label>
                <input type="file" name="comprovante" class="form-control-file" id="exampleFormControlFile1" id="validationCustom01"  required>
                <div class="invalid-feedback">
                Insira o comprovante de pagamento.
            </div>
            </div>
            <!-- /END COMPROVANTE -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary" id="enviar_comprovante">envio_comprovante</button>
        </form>
        </div>
      </div>
    </div>
  </div>

<!-- SCRIPT PARA PASSAR INFORMAÇÕES DA TABELA EXIBIDA EM PEDIDOS PARA O MODAL DE ENVIO DE COMPROVANTE -->
<script type="text/javascript" charset="utf-8" async defer>
    $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // EVENTO DE APERTAR O BOTAO
    var recipient = button.data('whatever') // EXTRAI ATRIBUTOS DE DATA
    var modal = $(this)
    modal.find('.modal-title').text('ENCAMINHAR COMPROVANTE DO PEDIDO Nº ' + recipient)
    modal.find('.modal-body input').val(recipient)
  })
  </script> 