{% extends "carrinho.html" %}
{% block carrinho %}
<div class="container" style="margin-top:1%">

  <table class="table border" id="tabela">
	<!-- CABEÇALHO DA TABELA -->
  <thead id="thead">
    <tr>
      <th scope="col">ID PRODUTO</th>
      <th scope="col">PRODUTO</th>
      <th scope="col">DESCRIÇÃO</th>
      <th scope="col">TAMANHO</th>
      <th scope="col">QUANTIDADE</th>
      <th scope="col">VALOR UNITÁRIO</th>
      <th scope="col">VALOR TOTAL</th>
      <th scope="col">OBSERVACAO</th>
      <th scope="col">#</th>
    </tr>
  </thead>

  <!-- linhas de body é inserida pelo script javascript "carregar_tabela_carrinho()" -->
  <tbody id="tbody">

  </tbody>
</table>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="pedidos">
          <button type="button" id="concluir_pedido" class="btn btn-primary btn-md btn-block">CONCLUIR PEDIDO</button>
        </a>
  
      </div>
      <div class="col-sm">
        <a href="carrinho">
          <button type="button" class="btn btn-danger btn-md btn-block">VOLTAR PARA O CARRINHO</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html'%}
<script type="text/javascript" charset="utf-8" async defer>
function maiorQue(texto,quantidade) {
    var texto = texto;
    if (texto == null){
    return ""
    }else {
      if (texto.length >= quantidade){
        texto = texto.slice(0,quantidade);
        texto += "..."
      }
    }

    console.log(texto)
    return texto;

}
function  carrega_tabela_carrinho(){

  var itens_storage = retorna_itens_lStorage()
  tabela = document.getElementById("tabela")
    for (item in itens_storage){
      //href para excluir item 
      tabela.appendChild(cria_tabela_carrinho(
        [[itens_storage[item][0],itens_storage[item][1],itens_storage[item][2],itens_storage[item][5],itens_storage[item][4],formata_valor_com_cifrao(parseInt(itens_storage[item][3])),formata_valor_com_cifrao(itens_storage[item][3] * itens_storage[item][4]),maiorQue(itens_storage[item][6],20)]],item))
  }

};


carrega_tabela_carrinho();
valores_em_real();

document.getElementById('concluir_pedido').onclick = function concluir_pedido() {
    let array_carrinho = []
    let confirmacao = confirm("Deseja prosseguir com a conclusão do Pedido?")
    if (confirmacao){
        for (item in localStorage){
            if (localStorage.getItem(item) !== null){
                val = localStorage.getItem(item)
                item = val.split(",")
                console.log(item)
                let item_pronto = {}
                item_pronto['ID_PRODUTO']= parseInt(item[0])
                item_pronto['TAMANHO'] = item[5]
                item_pronto['QUANTIDADE'] = parseInt(item[4])
                item_pronto['OBSERVACAO'] = item[6]
                array_carrinho.push(item_pronto)
            }
        }
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(array_carrinho),
            dataType: 'json',
            url: '/itens_carrinho',
            success: function () {
                
            }});
        localStorage.clear()
      }

}
</script>

{% endblock %}