{% block form_endereco %}
<div class="container">
<form class="forms needs-validation" method="POST" novalidate>
<!-- CEP -->
{% if cidades != None %}
<div class="form-group">
  <div class="col-md-6 offset-md-3">
      <label for="cep">CEP</label>
      <input type="text" name="cep" id="cep" value="{{cep}}" class="form-control" id="validationCustom01" placeholder="CEP"  readonly>
      <div class="invalid-feedback">
        Insira um CEP válido.
      </div>
  </div>
</div>
<!-- /END CEP -->
<!-- ESTADO -->
  <div class="form-group">
    <div class="col-md-6 offset-md-3">
      <label for="estado">ESTADO</label>
    <select class="custom-select" name = "estado" id="estado">
      <option selected value="{{id_estado}}">{{estados[id_estado-1]['NOME_ESTADO']}}</option>

    </select>
    </div>
  </div>
<!-- /END ESTADO -->

<!-- CIDADE -->

    <div class="form-group">
      <div class="col-md-6 offset-md-3">
        <label for="cidade_select">Cidade:</label>
      <select class="custom-select" name = "cidade" id="cidade_select">
        {% for cidade in cidades %}
        <option value="{{cidade['ID_CIDADE']}}">{{cidade['NOME_CIDADE']}}</option>
        {% endfor %}
      </select><br>
      <span><strong><p class="text-info">{{mensagem}}</p></strong></span>
      </div>
    </div>

<!-- /END CIDADE -->
<!-- RUA -->
<div class="form-group">
  <div class="col-md-6 offset-md-3">
      <label for="rua">Rua:</label>
      <input type="text" name="rua" value="{{rua}}" class="form-control" id="rua" placeholder="Rua"  required>
      <div class="invalid-feedback">
        Insira um endereço válido.
      </div>
  </div>
</div>
<!-- /END RUA -->

<!-- BAIRRO -->
  <div class="form-group">
    <div class="col-md-6 offset-md-3">
        <label for="bairro">Bairro</label>
        <input type="text" name="bairro" value="{{bairro}}" class="form-control" id="bairro" placeholder="Bairro"  required>
        <div class="invalid-feedback">
          Insira um endereço válido.
        </div>
    </div>
</div>
<!-- /END BAIRRO -->

<!-- NÚMERO -->
<div class="form-group">
  <div class="col-md-6 offset-md-3">
      <label for="numero">Número</label>
      <input type="text" name="numero" value="{{numero}}" class="form-control" id="numero" placeholder="Número"  required>
      <div class="invalid-feedback">
        Insira um Número válido.
      </div>
  </div>
</div>
<!-- /END NÚMERO -->

<!-- COMPLEMENTO -->
<div class="form-group">
  <div class="col-md-6 offset-md-3">
      <label for="complemento">Complemento</label>
      <input type="text" name="complemento" value="{{complemento}}" class="form-control" id="complemento" placeholder="Complemento de endereço">
  </div>
</div>
<!-- /END COMPLEMENTO -->

{% else %}
<div class="form-group">
  <div class="col-md-6 offset-md-3">
      <label for="cep">CEP</label>
      <input type="text" name="cep" id="cep" class="form-control" id="validationCustom01" placeholder="CEP"  required>
      <div class="invalid-feedback">
        Insira um CEP válido.
      </div>
  </div>
</div>
<!-- /END CEP -->
<!-- ESTADO -->
  <div class="form-group">
    <div class="col-md-6 offset-md-3">
      <label for="estado">ESTADO</label>
    <select class="custom-select" name = "estado" id="estado">
      <option selected >Escolher...</option>
      {% for estado in estados %}
      <option value="{{estado['ID_ESTADO']}}">{{estado['NOME_ESTADO']}}</option>
      {% endfor %}
    </select>
    </div>
  </div>
<!-- /END CIDADE -->

<!-- CIDADE -->
  <div class="form-group">
  <div class="col-md-6 offset-md-3">
    <label for="cidade">Cidade:</label>
    <input type="text" name="cidade" class="form-control" id="cidade" placeholder="Cidade"  required>
  </div>
  </div>

<!-- /END CIDADE -->
<!-- RUA -->
<div class="form-group">
  <div class="col-md-6 offset-md-3">
      <label for="rua">Rua:</label>
      <input type="text" name="rua" class="form-control" id="rua" placeholder="Rua"  required>
      <div class="invalid-feedback">
        Insira um endereço válido.
      </div>
  </div>
</div>
<!-- /END RUA -->

<!-- BAIRRO -->
  <div class="form-group">
    <div class="col-md-6 offset-md-3">
        <label for="bairro">Bairro</label>
        <input type="text" name="bairro" class="form-control" id="bairro" placeholder="Bairro"  required>
        <div class="invalid-feedback">
          Insira um endereço válido.
        </div>
    </div>
</div>
<!-- /END BAIRRO -->

<!-- NÚMERO -->
<div class="form-group">
  <div class="col-md-6 offset-md-3">
      <label for="numero">Número</label>
      <input type="text" name="numero" class="form-control" id="numero" placeholder="Número"  required>
      <div class="invalid-feedback">
        Insira um Número válido.
      </div>
  </div>
</div>
<!-- /END NÚMERO -->

<!-- COMPLEMENTO -->
<div class="form-group">
  <div class="col-md-6 offset-md-3">
      <label for="complemento">Complemento</label>
      <input type="text" name="complemento" class="form-control" id="complemento" placeholder="Complemento de endereço">
  </div>
</div>
<!-- /END COMPLEMENTO -->
{% endif %}
    <!-- BOTÃO FINALIZAR -->
    <div class="form-group">
      <div class="col-md-6 offset-md-3" style="margin-top: 2rem;">
          <button type="submit" class="btn btn-secondary btn-lg btn-block">Finalizar cadastro</button>
      </div>
  </div>
  <!-- /END BOTÃO FINALIZAR -->
</form>

</div>
{% endblock%}
