{% block head %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #F6A5B8;">
    <a class="navbar-left" href="/home">
      <img src="/static/images/LOGO_NAVBAR.PNG" alt="logo da navbar dimani" style="width:50px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav"> 
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalogo">Catálogo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acompanhar Pedidos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/pedidos">Pedidos</a>
            <a class="dropdown-item" href="#">Trocas</a>
            <a class="dropdown-item" href="#">Devoluções</a>
          </div>
      </ul>
    </div>
      <ul class="nav justify-content-right">
        <li class="nav-item">
          <a href="/carrinho">
            <span class="btn btn-light btn-sm">
              <span class="glyphicon glyphicon-shopping-cart"></span> Carrinho
          </a>
        </li>
        {% if 'NOME' not in session %}
        <li class="nav-item">
          <a class="btn btn-success" href="/login" >Login / Cadastre-se</a>
        </li>
        {% else %}
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Bem vindo, {{session['NOME'].split(" ")[0]}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                    <a class=" nav-link dropdown-item" onclick="localStorage.clear();" href="/logout">Sair</a>
                  </div>

            </li>
        {% endif %}
      </ul>
  </nav>
    <title>DIMANI ATELIER</title>
  </head>

{% endblock%}