{% include 'head.html'%}

<div class="container" style="margin-top:1%">
<table class="table border">

  <!-- CABEÇALHO DA TABELA -->
  <thead>
    <tr>
      <th scope="col">Nº PEDIDO</th>
      <th scope="col">VALOR TOTAL</th>
      <th scope="col">ID CONTA</th>
    </tr>
  </thead>
  <tbody>
  	
  	<!-- LOOP PARA ACESSAR PEDIDO -->
  	{% for pedido in pedidos %}
    <tr>
      <th scope="row">
        <a href="pedidos/{{pedido['ID_PEDIDO']}}">{{pedido['ID_PEDIDO']}}</a>
      </th>
      <td>{{pedido['VALOR_TOTAL']}}</td>
      <td>{{pedido['ID_CONTA']}}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% include 'footer.html'%}
