{% include 'head.html'%}
{% if not eh_funcionario(session['EMAIL'])%}
  <div class="container">
    <h3 class="title"> Página não encontrada.</h3>
  </div>
{% else %}

<form method="POST">
<!-- Container com grid 1x2 1 linha 2 colunas-->
<div class="container shadow-lg ">
  <!-- Linha 1 -->
  <div class="row">
    <!-- Coluna1 -->
    <div class="col">
      <div class="card-body">
        <img src="/static/images/produtos/produto_{{detalhes_produto['ID_PRODUTO']}}.jpg" style="height:82vmin;width:82vmin;;"class="img" alt="Imagem responsiva">

    </div> 
  </div>

    <div class="col">
            <div class="card-body">
              <input type="hidden" id="id_produto" name="id_produto" value="{{detalhes_produto['ID_PRODUTO']}}">
              <h2 class="title"  id="nome_produto">{{detalhes_produto['NOME_PRODUTO']}}</h2>
              <input type="hidden" id="valor_produto" value="{{detalhes_produto['VALOR']}}">
              <h4 class="card-text" name="valor_produto_real" >{{detalhes_produto['VALOR']}}</h4>
              <p class="card-text" id="descricao_produto">{{detalhes_produto['DESCRICAO']}}</small></p>
                <p>
                  <hr>
                  
                  <div class="form-group alert alert-danger" role="alert">
                  <label class="text-danger">IMPORTANTE </label><br><hr style="margin-top: 0.5vmin;">
                  <p class="mb-0">Após remover um produto não é possível recuperá-lo.</p>
                      
                  </div>

                <div class="form-group">
                  <label for="senha_confirmacao">SENHA DE ADMINISTRADOR</label>
                  <input class="form-control" type="password" name="senha_confirmacao" id="senha_confirmacao" 
                  placeholder="Insira sua senha de administrador" maxlength="20">
                  <span class="text-info">{{message}}</span>
                </div>
                  <button type="submit" style="margin-top:5vmin !important;" class="button-limpar btn btn-block">
                    <span aria-hidden="true">REMOVER</span>
                  </button>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
  
</form>
  
  
{% endif %}

{% include 'footer.html'%}
<script type="text/javascript" charset="utf-8" async defer>
// Formata o campo valor fonte: www.BB.com.br
function formataValor(campo) {
	campo.value = filtraCampoValor(campo); 
	vr = campo.value;
	tam = vr.length;

	if ( tam <= 2 ){ 
 		campo.value = vr ; }
 	if ( (tam > 2) && (tam <= 5) ){
 		campo.value = vr.substr( 0, tam - 2 ) + ',' + vr.substr( tam - 2, tam ) ; }
 	if ( (tam >= 6) && (tam <= 8) ){
 		campo.value = vr.substr( 0, tam - 5 ) + '.' + vr.substr( tam - 5, 3 ) + ',' + vr.substr( tam - 2, tam ) ; }
 	if ( (tam >= 9) && (tam <= 11) ){
 		campo.value = vr.substr( 0, tam - 8 ) + '.' + vr.substr( tam - 8, 3 ) + '.' + vr.substr( tam - 5, 3 ) + ',' + vr.substr( tam - 2, tam ) ; }
 	if ( (tam >= 12) && (tam <= 14) ){
 		campo.value = vr.substr( 0, tam - 11 ) + '.' + vr.substr( tam - 11, 3 ) + '.' + vr.substr( tam - 8, 3 ) + '.' + vr.substr( tam - 5, 3 ) + ',' + vr.substr( tam - 2, tam ) ; }
 	if ( (tam >= 15) && (tam <= 18) ){
 		campo.value = vr.substr( 0, tam - 14 ) + '.' + vr.substr( tam - 14, 3 ) + '.' + vr.substr( tam - 11, 3 ) + '.' + vr.substr( tam - 8, 3 ) + '.' + vr.substr( tam - 5, 3 ) + ',' + vr.substr( tam - 2, tam ) ;}
 		
}

//fonte: www.BB.com.br
function filtraCampoValor(campo){
	var s = "";
	var cp = "";
	vr = campo.value;
	tam = vr.length;
	for (i = 0; i < tam ; i++) {  
		if (vr.substring(i,i + 1) >= "0" && vr.substring(i,i + 1) <= "9"){
		 	s = s + vr.substring(i,i + 1);}
	} 
	campo.value = s;
	return cp = campo.value
}
</script>