{% include 'head.html'%}
<img src="/static/images/BANNER_BRANCO_DIMANI.PNG" class="img-fluid" alt="BANNER DIMANI SOBRE">

<h3 class="text-center">SOBRE A DIMANI ATELIER</h3>


<figure class="text-center">
    <blockquote class="blockquote">
      <p>Fundada em meados de dois mil e dezesseis, a Di Mani atelier iniciou seus trabalhos oferecendo
        serviços voltados a costura e produção de roupas, mantas e cobertores em crochê e tricô.</p>
    </blockquote>
</figure>


{% include 'footer.html'%}